<a href="https://colab.research.google.com/github/malihemaboodi/Basic-of-Pandas-for-beginner/blob/main/Basic_of_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [3]:
food = ['Pizza', 'Burger', 'Sushi']
p_food = pd.Series(food)
p_food

0     Pizza
1    Burger
2     Sushi
dtype: object


**Purpose:**
This line creates a Python list named food that contains three string elements: 'Pizza', 'Burger', and 'Sushi'.

**List:**
 A list is a collection of items that are ordered and can be modified after being created.

The line type(p_food) is used to check the data type of the variable p_food. Since p_food is a Pandas Series, the output of this line will indicate that.

In [4]:
p_food[2]

'Sushi'



*   **Pandas Series indexing:** Like Python lists, Pandas Series are zero-indexed, meaning the first element is at index 0, the second at index 1, and so on.
*   In this case, p_food[2] will return the value located at index 2 in the p_food Series.

Given your initial code where p_food was created from the list
['Pizza', 'Burger', 'Sushi'], the element at index 2 is 'Sushi'.

In [5]:
food = ['Pizza', 'Burger', None]
p_food = pd.Series(food)
p_food

0     Pizza
1    Burger
2      None
dtype: object



*   ***Purpose:*** This creates a Python list named food with three elements: 'Pizza', 'Burger', and None.
*   ***None:*** In Python, None is a special constant that represents the absence of a value or a null value. It is often used as a placeholder.


*   ***Values ('Pizza', 'Burger', NaN):*** 'Pizza' and 'Burger' are regular string values, and None is displayed as NaN, which stands for "Not a Number" and is used to represent missing values in Pandas.
 *   ***dtype:*** object: This indicates that the Series contains object types (strings and NaN).

In [6]:
food = {
    'f1': 'Pizza',
    'f2': 'Burger',
    'f3': None
}
p_food = pd.Series(food)
p_food

f1     Pizza
f2    Burger
f3      None
dtype: object



*   ***Purpose:*** This line creates a Python dictionary called food. The dictionary has three key-value pairs:
 *   'f1' is the key for the value 'Pizza'.
     'f2' is the key for the value 'Burger'.

  *   'f2' is the key for the value 'Burger'.
  *   'f3' is the key for the value None (which represents a missing value).


     

*   ***Dictionary:*** A dictionary in Python is a collection of key-value pairs, where each key is unique.

In [7]:
p_food.index

Index(['f1', 'f2', 'f3'], dtype='object')

## **Explanation of the Output:**


*   The output is an Index object that contains the labels ['f1', 'f2', 'f3'], which were originally the keys of the dictionary.
*   ***Index Type:*** The data type of the index is object, as the index contains string labels ('f1', 'f2', and 'f3').

In [8]:
p_food.values

array(['Pizza', 'Burger', None], dtype=object)

**p_food.values:** This command retrieves the values of the Pandas Series p_food as a NumPy array. The values are the elements of the Series without the index.

In [9]:
p_food = pd.Series(['Pizza', 'Burger', 'Sushi'], index=['f1', 'f2', 'f3'])
p_food

f1     Pizza
f2    Burger
f3     Sushi
dtype: object



*   **pd.Series(['Pizza', 'Burger', 'Sushi'], index=['f1', 'f2', 'f3']):**

 *    This creates a Pandas Series from a list of food items ['Pizza', 'Burger', 'Sushi'].
 *   You are explicitly defining the index for each value using the list ['f1', 'f2', 'f3'].
 *   The resulting Series will associate 'Pizza' with the index 'f1', 'Burger' with 'f2', and 'Sushi' with 'f3'.

In [10]:
p_food['f1']

'Pizza'

## **Explanation of the Output:**


*   The value associated with index 'f1' in the p_food Series is 'Pizza'.

In [11]:
p_food.iloc[2]

'Sushi'

## **Explanation:**


*   **p_food.iloc[2]:** The .iloc[] function is used to access a value by its **positional index** (i.e., the position in the Series, regardless of the custom labels).
*   In this case, p_food.iloc[2] is accessing the element at position 2 (third position, since indexing starts from 0).

In the food example, the **p_food** Series was created from the list **['Pizza', 'Burger', 'Sushi']**, with positional indices 0, 1, and 2. So, position **2** corresponds to the value **'Sushi'**.

In [12]:
p_food.loc['f1']

'Pizza'

## **Explanation:**


*   **p_food.loc[ 'f1' ]:** The **.loc[ ]** function is used to access a value by its **label** (the custom index, not the positional index).

*   In the "food" example, the Series **p_food** was created with custom indices **['f1', 'f2', 'f3']**. So, **.loc['f1']** retrieves the value associated with the label **'f1'** which corresponds to the value **'Pizza'**.

In [13]:
for item in p_food:
    print('Delicious ' + str(item))

Delicious Pizza
Delicious Burger
Delicious Sushi

## **Explanation:**


*   **For Loop:** The loop iterates over each item in the **p_food** Pandas Series.

*   **print('Delicious ' + str(item)):** For each item, it prints the string **'Delicious '** followed by the item (converted to a string using **str(item)**).

In [14]:
import numpy as np

In [26]:
food_prices = [12.5, 8.0, 15.3]
p_food_prices = pd.Series(food_prices)
np.sum(p_food_prices)

35.8



* This line creates a list named **food_prices** that contains three numerical values representing the prices of different food items.

*   **pd.Series(food_prices):** This converts the list **food_prices** into a Pandas Series. The Series contains the same numerical values **[12.5, 8.0, 15.3]** but now with default indexing (0, 1, 2).



*   **np.sum():** This function, from the NumPy library, calculates the sum of all the values in the **p_food_prices** Series.


*   It will add **12.5 + 8.0 + 15.3.**

In [15]:
food = [12.5, 8.0, 'Burger']
p_food = pd.Series(food)
p_food

0      12.5
1       8.0
2    Burger
dtype: object



*   This line creates a list named food that contains two numerical values **(12.5, 8.0)** and a string **('Burger')**.

*   Mixing data types in the same list (numbers and strings) is allowed in Python lists.


*   **dtype: object:** Since the Series contains mixed data types (both numbers and a string), Pandas automatically sets the data type of the Series to **object.**

In [16]:
for index, item in p_food.items():
    print('Delicious ' + str(item) + ' ... index is ' + str(index))

Delicious 12.5 ... index is 0
Delicious 8.0 ... index is 1
Delicious Burger ... index is 2

**p_food.items():** This method returns an iterator that yields pairs of (index, value), allowing you to loop through both the indices and the values in the Series.

In [17]:
# First dictionary for food
food = {
    'f1': 'Pizza',
    'f2': 'Burger',
    'f3': 'Sushi'
}
p_food = pd.Series(food)

# Second dictionary for food
food = {
    'f1': 'Pizza2',
    'f2': 'Burger2',
    'f3': 'Sushi2'
}
p_food2 = pd.Series(food)

# Third dictionary for food
food = {
    'f1': 'Pizza3',
    'f2': 'Burger3',
    'f3': 'Sushi3'
}
p_food3 = pd.Series(food)

# Creating a DataFrame from the three Series
df = pd.DataFrame([p_food, p_food2, p_food3], index=['r1', 'r2', 'r3'])
df

        f1       f2      f3
r1   Pizza   Burger   Sushi
r2  Pizza2  Burger2  Sushi2
r3  Pizza3  Burger3  Sushi3

## **Explanation:**


*    A Pandas DataFrame **df** is created by combining the three Series **(p_food, p_food2, p_food3)** into rows. The **index=['r1', 'r2', 'r3']** parameter gives the rows custom labels **'r1', 'r2'**, and **'r3'**
## **Explanation of the Output:**
*   **Rows (r1, r2, r3):** Each row corresponds to one of the Series **(p_food, p_food2, p_food3).**


*  **Columns (f1, f2, f3):** These columns represent the keys of the dictionaries **('f1', 'f2', 'f3')**, corresponding to different food items.

*   **Values:** Each row contains the corresponding values from the Series, like **'Pizza', 'Burger', and 'Sushi'**.

In [18]:
df.loc['r2']

f1     Pizza2
f2    Burger2
f3     Sushi2
Name: r2, dtype: object

**df.loc['r2']:** The .loc[] function is used to access rows or columns by labels in a Pandas DataFrame. In this case, 'r2' is the label for the second row in the DataFrame.

## **Explanation of the Output:**


*  **Row r2**: This returns the entire second row **(r2)** of the DataFrame.

*   **Values:** The values in this row correspond to the second set of data: **'Pizza2', 'Burger2', and 'Sushi2'.**